/*
Blue: #192231
Orange: #e77b3b
Grey BLue: #4e5e6e

*/

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    #intro .container {
        max-width: 1170px;
    }
}

@media (min-width: 768px) {
    #main-nav .navbar-brand {
        display: none;
    }
}

body {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

/* Navigation */
#main-nav {
    text-align: center;
    /*background: #e76823;*/
}

.navbar-nav {
    float: none;
    display: inline-block;
}


/* Intro */
#intro {
    margin:50px auto 0;
    padding: 50px 0;
    background: #e77b3b;
}

#intro-copy {
    margin: 0 20px 0;
}

#intro-copy h1, #intro-copy h2, #intro-copy h3 {
    text-align: left;
    color: #fff;
}
#intro-copy h1 {
    font-size: 3em;
    font-weight: 800;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 0;
}
#intro-copy .presented-by {
    font-weight: 300;
    color: #9A4918;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255, 0.3);
}

#intro-copy .date {
    color: #9A4918;
    font-size: 24px;
}

#intro-copy .location {
    font-weight: 300;
    color: #9A4918;
    font-size: 16px;
}

.rsvp-button{
    border-color: #9A4918;
    background-color: #9A4918;
    margin: 20px 0;
}

.rsvp-button:hover {
    border-color: #67371A;
    background-color: #67371A;
}

/* About */
#about {
    background: #fff;
    padding:100px 0;
}
#bhgh-logo {
    width: 300px;
    margin:30px auto;
    display: block;
}

#bhgh-logo-anet {
    width: 300px;
    margin:50px auto;
    display: block;
}

/* Panel */
#panelists {
    background: #f1f1f1;
    padding:100px 0;
}

/* Venue */
#venue {
    background: #4b607d;
    padding:100px 0;
    color: #ccc;
    text-align: center;
}

#venue h2 {
    color: #fff;
}

#map-canvas {
    width: auto;
    height: 400px;
    margin: 20px auto;
}

/* Sponsors */
#sponsors {
    color: #aaa;
    padding:100px 0;
    text-align: center;
}

#sponsors img {
    max-width: 200px;
    margin: 20px 30px;
    max-height: 90px;
}

#sponsors h2, #sponsors h3 {
    color: #444;
}

/* Sponsor Levels */
#sponsorlevels {
    background: #4b607d;
    padding:100px 0;
    text-align: center;
    color: #ccc;
}

#sponsorlevels h2, #sponsorlevels h3 {
    color: #fff;
}

/* Schedule */
#schedule {
    background: #f1f1f1;
    padding:100px 0;
}
#schedule .container {
    position: relative;
}
#mayclem-photo {
    width:200px;
    position: absolute;
    right: -100px;
    -webkit-transform: rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
}

/* rsvp */
#rsvp {
    background: #f9f9f9;
    padding:100px 0;
}

.register-success-img {
    width: 100%;
}
#paynow-submit {
    margin: 20px 30px;
}

/* donate */

#donate {
    background: #fff;
    padding:100px 0;
}

.AuthorizeNetSeal {
    position: absolute;
}

/* footer */
#footer {
    background: #333;
    padding:20px 0 10px;
    color:#aaa;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 0.7em;
}

h2 {
    font-size: 2.5em;
}

ul {
    text-align: left;
}